<% if @users.any? %>
  <h1>ユーザー情報一覧</h1>

    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>ユーザー名</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <th><%= link_to user.id, user_path(user) %></th>
          <td><%= user.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  
  <h1>登録されているユーザーがありません</h1>

<% end %>
